header {
    background-image: url(img/header-bg.png);
}
.cart{
    background-image: url("img/cart-bg.png");
    width: 70px;
    height: 82px;
    font-size: 2.5em;
    color: white;
}
#numero{
    padding: 10px;

}
#titulo{
    background: #0b5c22;
    color:white;
    margin: auto;
}
#numero2{
    margin: auto;
    font-size: 130%;
}
#lista{
    margin: auto;
    font-size: 130%;
}
#navegador{
    margin-bottom: 2%;
}
#buscar{
    margin-top: 10% !important;
}
#hola{
    margin: auto;
    text-align: center;
    background: #0b5c22;
    color: white;
}
nav a:hover{
	background-color: #f8f8f8;
	color: #5aae32 !important ;
    padding: 1% 1% 2% 1%;
	font-weight: bold;
}
#pala{
    margin: auto;
    text-align: right;
}
#pala a{
    color: black !important;
}
.imagenes{
    display: flex;
    flex-flow: row wrap;
}
.productos{
    flex: 25%;
    border: 2px solid #0b5c22;
    border-radius: 10px 10px;
}

#img01:hover{
    transform: rotate(10deg);
}
.container{
    background: #f3f3f3;
}
#asd{
    text-align: center;
}